@media screen and (max-width: 980px) {
    body.home {
        // Header
        .transparent-header {
            width: 100%;
            .hamburger {
                display: flex;
                flex-direction: column;
                z-index: 3;
                .bar {
                    transition: 0.2s ease-in-out;
                    height: 4px;
                    width: 35px;
                    display: block;
                    margin: 3px auto;
                    background-color: #fff;
                    border-radius: 2px;
                }
            }
            .hamburger.active .bar:nth-child(2) {
                opacity: 0;
            }
            .hamburger.active .bar:nth-child(1) {
                transform: translateY(10px) rotate(45deg);
            }
            .hamburger.active .bar:nth-child(3) {
                transform: translateY(-10px) rotate(-45deg);
            }
            .transparent-nav {
                position: absolute;
                width: 100%;
                background-color: rgba(0, 0, 0, 0.7);
                height: 3rem;
                display: flex;
                align-items: center;
                justify-content: center;
                .container {
                    transition: 0.2s ease-in-out;
                    width: 100%;
                    height: 100%;
                    position: fixed;
                    right: -100%;
                    top: 0px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    background-color: rgba(0, 0, 0, 0.95);
                    .btns {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-top: 8rem;
                        a {
                            margin-right: 0rem;
                            padding: 0.3rem 0.5rem;
                            font-weight: 700;
                            text-align: center;
                            border: 1px solid $secondary_color;
                            border-radius: 1rem;
                            color: $secondary_color;
                        }
                        a:hover {
                            background-color: $secondary_color;
                            color: $third_color;
                            transition: 0.2s ease-in-out;
                        }
                    }
                }
                .container.active {
                    transition: 0.2s ease-in-out;
                    right: 3px;
                    top: 0px;
                    z-index: 3;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    .btns {
                        margin-top: 8rem;
                    }
                }
                .container div:nth-child(2) {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    ul {
                        height: 80%;
                        margin-top: 0;
                        li {
                            height: 100%;
                        }
                    }
                }
                a {
                    height: 100%;
                    color: $background;
                    font-size: $subtitle_resp;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                a:hover {
                    transition: 0.2s ease-in-out;
                    color: $secondary_color;
                    box-sizing: unset;
                }
            }
        }

        .transparent-header .transparent-nav ul {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            list-style-type: none;
        }

        .transparent-header .transparent-nav ul li.current-menu-item {
            color: $secondary_color;
            a {
                font-weight: 700;
                color: inherit;
            }
        }

        .transparent-header .transparent-nav ul li a {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0rem 1rem 0rem 1rem;
            height: 100%;
            font-size: 1.4rem;
            color: #fff;
            box-sizing: unset;
        }

        .transparent-header .transparent-nav ul li a:hover {
            transition: 0.2s ease-in-out;
            border-bottom: 3px solid $background;
        }

        .transparent-header .page-banner {
            height: 500px;
            padding-top: 2.6rem;
            .container {
                width: 100%;
                padding: 1rem;
            }
            h3 {
                font-size: $title_resp;
                text-align: center;
            }
            p {
                font-size: $small_heading_resp;
                color: $background;
            }
            form {
                margin-top: 1rem;
                input[type="submit"] {
                    background-color: $third_color;
                    color: $primary_color;
                    border: 1px solid $primary_color;
                    border-radius: 0.7rem;
                    padding: 0.2rem 0.5rem;
                    font-size: 1.2rem;
                    font-weight: 500;
                    cursor: pointer;
                }
                input[type="search"] {
                    background-color: $third_color;
                    color: $primary_color;
                    border: 1px solid $primary_color;
                    border-radius: 0.7rem;
                    padding: 0.2rem 0.5rem;
                    font-size: 1.2rem;
                    font-weight: 500;
                }
                display: none;
            }
        }
        // ************************
        // Front page
        // ************************
        .front-page {
            .container {
                width: 100%;
                padding: 1rem;
                section.newest-recipes {
                    width: 100%;
                    flex-direction: column;
                    h2 {
                        margin-top: 0rem;
                        font-size: $subtitle_resp;
                    }
                }
                .cards {
                    width: 100%;
                    margin-top: 2rem;
                    flex-direction: column;
                    .card {
                        width: 85%;
                        margin-bottom: 2.4rem;
                    }
                }
                section.see-also {
                    margin: 0rem 0rem;
                    h2 {
                        margin-top: 0rem;
                        font-size: $subtitle_resp;
                    }
                }
            }
        }
        footer {
            padding: 0.5rem 0rem;
            h3 {
                text-align: center;
            }
        }
    }
}
