@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap");

// Colors
$primary_color: #643843;
$secondary_color: #d17aa0;
$third_color: #e7cbcb;
$background: #fff;

// Font sizes
$title: 3rem;
$subtitle: 2.4rem;
$small_heading: 1.8rem;
